
.circle-2, .circle-3,.circle-4,.circle-5{
    opacity: 10%;
    border-width: 30px !important;
}


.dots{
    position: absolute;
    right: 30px;
     top: 50%; 
     transform: rotate(90deg);
}

.link-style{
    text-decoration:none;
    color: white;
}
.link-style:hover{
    text-decoration:none;
    color: black;
}

.envelop, .tabs p{
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}
.envelop,.tabs p:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
}
.envelop:hover{
    cursor: pointer;
    background-color: whitesmoke !important;
    color: black !important;
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
}
.ux{
    overflow-x: hidden;
}

.project{
    transition: 0.4s ease-in-out;
}

.project:hover{
    transform: scale(1.05); 
}

@media screen and (max-width: 400px) {
    .tabs{
        display: flex;
        flex-direction: column !important;
    }
    .envelop{
        right: 40px !important;
    }
    .ux{
        position: relative !important;
    }
    .dots{
        position: absolute !important;
        right: -28px;
        top: 50% !important; 
        transform: rotate(90deg);
    }
    .circle-2{
        width: 200px !important;
        height: 200px !important;
        left: 90px !important;
    }
    .circle-3{
        width: 250px !important;
        height: 250px !important;
        left: 63px !important;
        top: 112px !important;
    }
    .circle-4{
        width: 300px !important;
        height: 300px !important;
        left: 38px !important;
        top: 90px !important;
    }
    .circle-5{
        width: 450px !important;
        height: 450px !important;
        left: -30px !important;
        top: -12px !important;
    }
    .circle-2, .circle-3,.circle-4,.circle-5{
        opacity: 10%;
        border-width: 30px !important;
    }
    .ux{
        overflow-x: hidden;
    }
    .hero-text{
        margin: top 200px !important;
    }
}